blockquote p::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    border-radius: 8px;
    background: #c8ccd0;
    }
blockquote{
    color:#535a60;
    padding:.8em .8em .8em 1em;
    position: relative;
}
